@-webkit-keyframes loadingSpin {
  0% {
    width: 110px;
    height: 110px;
    margin: 82% 0 0 33%;
  }
  100% {
    width: 110px;
    height: 110px;
    margin: 82% 0 0 33%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: 0 none;
  }
}

@keyframes loadingSpin {
  0% {
    width: 110px;
    height: 110px;
    margin: 82% 0 0 33%;
  }
  100% {
    width: 110px;
    height: 110px;
    margin: 82% 0 0 33%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: 0 none;
  }
}

@-webkit-keyframes midLoadingSpin {
  0% {
    width: 150px;
    height: 150px;
    margin: 50% 0 0 42%;
  }
  100% {
    width: 150px;
    height: 150px;
    margin: 50% 0 0 42%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: 0 none;
  }
}

@keyframes midLoadingSpin {
  0% {
    width: 150px;
    height: 150px;
    margin: 50% 0 0 42%;
  }
  100% {
    width: 150px;
    height: 150px;
    margin: 50% 0 0 42%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: 0 none;
  }
}

@-webkit-keyframes desktopLoadingSpin {
  0% {
    width: 160px;
    height: 160px;
    margin: 15% 0 0 45%;
  }
  100% {
    width: 160px;
    height: 160px;
    margin: 15% 0 0 45%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: 0 none;
  }
}

@keyframes desktopLoadingSpin {
  0% {
    width: 160px;
    height: 160px;
    margin: 15% 0 0 45%;
  }
  100% {
    width: 160px;
    height: 160px;
    margin: 15% 0 0 45%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: 0 none;
  }
}

@-webkit-keyframes loadingHide {
  0% {
    border: 12px solid transparent;
    border-top-color: #9356DC;
  }
  99% {
    border: 12px solid transparent;
    border-top-color: #9356DC;
  }
  100% {
    border: 0 none;
  }
}

@keyframes loadingHide {
  0% {
    border: 12px solid transparent;
    border-top-color: #9356DC;
  }
  99% {
    border: 12px solid transparent;
    border-top-color: #9356DC;
  }
  100% {
    border: 0 none;
  }
}

@-webkit-keyframes wrapperVisibility {
  0% {
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
  }
  50% {
    width: 0;
    height: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes wrapperVisibility {
  0% {
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
  }
  50% {
    width: 0;
    height: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  70% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes emerge {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes emerge {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.menu__course:nth-child(0) {
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
}

.menu__course:nth-child(1) {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.menu__course:nth-child(2) {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.menu__course:nth-child(3) {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.menu__course:nth-child(4) {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.menu__course:nth-child(5) {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.menu__course:nth-child(6) {
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.menu__course:nth-child(7) {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.menu__course:nth-child(8) {
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.menu__course:nth-child(9) {
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}

.menu__course:nth-child(10) {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.menu__course:nth-child(11) {
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

.loadingSpinner {
  width: 0;
  height: 0;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  background: gainsboro;
}

.loadingSpinner:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  z-index: 1;
  background: white;
}

.loadingSpinner:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  z-index: 1;
  border: 0 none;
  -webkit-animation: loadingHide 2s ease-in-out;
          animation: loadingHide 2s ease-in-out;
}

@media screen and (max-width: 480px) {
  .loadingSpinner {
    -webkit-animation: loadingSpin 2s linear;
            animation: loadingSpin 2s linear;
  }
}

@media screen and (min-width: 481px) {
  .loadingSpinner {
    -webkit-animation: midLoadingSpin 2s linear;
            animation: midLoadingSpin 2s linear;
  }
}

@media screen and (min-width: 1280px) {
  .loadingSpinner {
    -webkit-animation: desktopLoadingSpin 2s linear;
            animation: desktopLoadingSpin 2s linear;
  }
}

.fa-heart:hover::before {
  -webkit-transition-property: font-weight;
  transition-property: font-weight;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  color: transparent;
  font-weight: 900;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
}

.searchField {
  width: 100%;
  height: 7vh;
  font-family: FontAwesome, 'Roboto';
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  background-color: rgba(220, 220, 220, 0.8);
  -webkit-box-shadow: inset 0 1px 2px 1px silver;
          box-shadow: inset 0 1px 2px 1px silver;
  border-top: 1px solid gainsboro;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

@media screen and (min-width: 481px) {
  .searchField {
    height: 5vh;
  }
}

@media screen and (min-width: 1280px) {
  .searchField {
    height: 3vh;
  }
}

body {
  margin: 0;
  max-width: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-weight: 700;
}

::-webkit-input-placeholder {
  opacity: 0.8;
}

:-ms-input-placeholder {
  opacity: 0.8;
}

::-ms-input-placeholder {
  opacity: 0.8;
}

::placeholder {
  opacity: 0.8;
}

h1 {
  display: none;
}

.logo img {
  width: 50%;
  padding: 6% 0 3% 0;
  display: block;
  margin: 0 auto 0 auto;
}

@media screen and (min-width: 1280px) {
  .logo img {
    width: 10%;
    padding: 2% 0;
  }
}

footer {
  padding: 7%;
  background-color: #404040;
  color: white;
}

footer .logo img {
  width: 35%;
  margin: 0;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer ul {
  padding: 0;
  list-style-type: none;
}

footer ul li {
  padding-bottom: 3%;
  font-weight: 500;
}

footer ul li i {
  width: 1em;
  padding-right: 5%;
}

@media screen and (min-width: 481px) {
  footer {
    padding: 3% 0;
  }
  footer .logo img {
    display: block;
    margin: 0 auto 0 auto;
    width: 20%;
    padding: 0;
  }
  footer ul li {
    text-align: center;
    display: inline-block;
    padding: 2% 4% 0 4%;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1280px) {
  footer {
    max-width: 100%;
    padding: 2% 3% 1% 3%;
  }
  footer .logo img {
    display: block;
    margin: 0 auto 0 auto;
    width: 10%;
    padding: 0;
  }
  footer ul {
    padding-top: 2%;
  }
  footer ul li {
    width: 24%;
    text-align: center;
    display: inline-block;
    padding: 0;
  }
}

.wrapper {
  -webkit-animation: wrapperVisibility 2.5s ease-in-out;
          animation: wrapperVisibility 2.5s ease-in-out;
}

@media screen and (min-width: 1280px) {
  .top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 45% 45% 5%;
        grid-template-columns: 5% 45% 45% 5%;
    -ms-grid-rows: 10% 45% 45%;
        grid-template-rows: 10% 45% 45%;
  }
}

@media screen and (min-width: 1280px) {
  .top form {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/ span 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 /span 1;
  }
}

.explore {
  text-align: center;
  background: whitesmoke;
}

.explore h2 {
  width: 70%;
  padding: 10% 0 3% 0;
  display: block;
  margin: 0 auto 0 auto;
}

.explore p {
  width: 80%;
  font-weight: 300;
  padding-bottom: 10%;
  display: block;
  margin: 0 auto 0 auto;
}

.explore .btn {
  height: 3.2em;
  border: none;
  border-radius: 10% / 50%;
  font-size: 0.9em;
  font-weight: 500;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0 5px 12px gainsboro;
          box-shadow: 0 5px 12px gainsboro;
  width: 60%;
  margin-bottom: 15%;
}

.explore .btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  -webkit-box-shadow: 0 5px 12px silver;
          box-shadow: 0 5px 12px silver;
}

@media screen and (min-width: 481px) {
  .explore h2 {
    padding: 3% 0;
  }
  .explore p {
    padding-bottom: 7%;
  }
  .explore .btn {
    border-radius: 4% / 50%;
    margin-bottom: 7%;
  }
}

@media screen and (min-width: 1280px) {
  .explore {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    margin: 3% 0;
    border-radius: 5% / 15%;
  }
  .explore h2 {
    padding: 5% 0;
  }
  .explore p {
    padding-bottom: 5%;
  }
  .explore .btn {
    border-radius: 5% / 50%;
    margin-bottom: 5%;
  }
}

.hiw {
  margin: 10% 5%;
}

.hiw ol {
  width: 95%;
  margin: 0 0 0 5%;
  padding-left: 0;
  text-align: center;
  counter-reset: item;
  list-style-type: none;
}

.hiw ol li {
  background: whitesmoke;
  -webkit-box-shadow: 0 5px 12px gainsboro;
          box-shadow: 0 5px 12px gainsboro;
  padding: 7.5% 0;
  margin-bottom: 7%;
  border-radius: 5% / 25%;
  counter-increment: item;
}

.hiw ol li:before {
  content: "" counter(item, decimal);
  color: white;
  background: #9356DC;
  padding: 1% 2.2%;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  font-size: 0.9em;
  margin-bottom: 5%;
}

.hiw ol li:hover {
  background: white;
}

.hiw ol li i {
  color: gray;
  position: absolute;
  left: 18%;
}

@media screen and (min-width: 481px) {
  .hiw {
    margin: 5%;
  }
  .hiw ol li {
    position: relative;
    padding: 3% 0;
    margin-bottom: 4%;
    border-radius: 4% / 50%;
  }
  .hiw ol li:before {
    padding: .5em .75em;
    top: 24%;
    left: 2%;
  }
}

@media screen and (min-width: 1280px) {
  .hiw {
    margin: 0 5%;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2 / span 4;
  }
  .hiw ol li {
    position: relative;
    padding: 2.5% 0;
    margin: 0 auto 3% auto;
    border-radius: 4% / 50%;
  }
  .hiw ol li:before {
    padding: .5em .75em;
    top: 20%;
    left: 2%;
  }
}

.resto {
  padding: 10% 5%;
  background: whitesmoke;
}

.resto__card {
  text-decoration: none;
  color: black;
  background: white;
  -webkit-box-shadow: 0 5px 12px gainsboro;
          box-shadow: 0 5px 12px gainsboro;
  border-radius: 5% / 7.5%;
  margin-bottom: 5%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 67% 25% 3%;
      grid-template-columns: 5% 67% 25% 3%;
  -ms-grid-rows: 2vh auto 5vh 5vh;
      grid-template-rows: 2vh auto 5vh 5vh;
}

.resto__card__img {
  max-height: 25vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.resto__card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5% / 7.5%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.resto__card p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 /span 1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 /span 1;
  margin: 0;
}

.resto__card__nouveau {
  position: absolute;
  background-color: #99E2D0;
  color: #2A9378;
  width: 100%;
  height: 16%;
  border-radius: 5%;
  text-align: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 /span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column-align: end;
      justify-self: end;
}

.resto__card__nouveau p {
  margin: 7% 0;
  font-size: 0.8em;
  font-weight: 700;
}

.resto__card h4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 0;
  padding-bottom: 2%;
  font-size: 1.1em;
}

.resto__card i {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: auto 0;
  padding-right: 15%;
}

@media screen and (min-width: 481px) {
  .resto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3% 45% 5% 45% 2%;
        grid-template-columns: 3% 45% 5% 45% 2%;
    -ms-grid-rows: 5% 1fr 1fr;
        grid-template-rows: 5% 1fr 1fr;
    padding: 0 0 2% 0;
    margin: 0;
  }
  .resto h3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  .resto__card {
    margin-bottom: 5%;
  }
  .resto__card__img {
    max-width: 100%;
  }
  .resto__card:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .resto__card:nth-child(3) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .resto__card:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
  .resto__card:nth-child(5) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
  }
  .resto__card__nouveau {
    height: 14%;
  }
  .resto__card__nouveau p {
    margin: 10%;
  }
}

@media screen and (min-width: 1280px) {
  .resto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 20% 3% 20% 3% 20% 3% 20% 5%;
        grid-template-columns: 5% 20% 3% 20% 3% 20% 3% 20% 5%;
    -ms-grid-rows: 5% 1fr;
        grid-template-rows: 5% 1fr;
    padding: 0 0 2% 0;
    margin: 0;
  }
  .resto h3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / span 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  .resto__card {
    margin-bottom: 5%;
  }
  .resto__card__img {
    max-width: 100%;
  }
  .resto__card:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .resto__card:nth-child(3) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .resto__card:nth-child(4) {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .resto__card:nth-child(5) {
    -ms-grid-column: 8;
    -ms-grid-column-span: 1;
    grid-column: 8 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .resto__card__nouveau p {
    margin: 8%;
  }
}

.return {
  color: black;
  position: absolute;
  top: 4%;
  left: 7%;
}

.cover {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 26.5vh;
}

.cover .portrait {
  width: 100%;
  max-height: 150%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cover img {
  max-width: 100%;
}

.menu {
  background-color: whitesmoke;
  max-width: 100%;
  padding: 5%;
  border-radius: 15% / 4%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.menu h2 {
  position: relative;
  font-family: shrikhand;
}

.menu h2 i {
  position: absolute;
  right: 5%;
}

.menu section {
  padding: 1% 0;
  -webkit-animation: 1s ease 0s emerge;
          animation: 1s ease 0s emerge;
}

.menu h3 {
  padding-bottom: 2.5%;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: upercase;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 15% 10%;
}

.menu__course {
  background-color: white;
  border-radius: 5% / 25%;
  margin-bottom: 5%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 75% 12% 8% 20%;
      grid-template-columns: 5% 75% 12% 8% 20%;
  -ms-grid-rows: 0.8em auto 0.5em auto 0.8em;
      grid-template-rows: 0.8em auto 0.5em auto 0.8em;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transition-property: grid-template-columns, -webkit-transform;
  transition-property: grid-template-columns, -webkit-transform;
  transition-property: grid-template-columns, transform;
  transition-property: grid-template-columns, transform, -ms-grid-columns, -webkit-transform;
  -webkit-animation: 3s ease  emerge;
          animation: 3s ease  emerge;
}

.menu__course h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ span 1;
}

.menu__course p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
}

.menu__course p:nth-of-type(2) {
  font-weight: 700;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 /span 1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column-align: end;
      justify-self: end;
}

.menu__course__validation {
  color: white;
  padding: 45% 35% 44% 35%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  background-color: #99E2D0;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / span 5;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__course:hover {
  -ms-grid-columns: 5% 60% 15% 0 20%;
      grid-template-columns: 5% 60% 15% 0 20%;
}

.menu__course:hover p:nth-of-type(2) {
  -ms-grid-column-align: center;
      justify-self: center;
}

.menu__course:hover .customSpin {
  -webkit-animation: fa-spin 0.5s 0.1s linear 1;
          animation: fa-spin 0.5s 0.1s linear 1;
}

.menu button {
  height: 3.2em;
  border: none;
  border-radius: 10% / 50%;
  font-size: 0.9em;
  font-weight: 500;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0 5px 12px gainsboro;
          box-shadow: 0 5px 12px gainsboro;
  display: block;
  margin: 0 auto 0 auto;
  width: 52%;
  border-radius: 15% / 50%;
  margin: 15% auto;
}

.menu button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(#ff93e1, #a16be0);
  -webkit-box-shadow: 0 5px 12px silver;
          box-shadow: 0 5px 12px silver;
}

@media screen and (min-width: 481px) {
  .menu section h3 {
    padding-bottom: 1.5%;
  }
  .menu section .menu__course {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .menu section .menu__course h4 {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .menu section .menu__course__validation {
    padding: 30% 35%;
  }
  .menu section .menu__course:hover {
    -ms-grid-columns: 5% 60% 15% 3% 20%;
        grid-template-columns: 5% 60% 15% 3% 20%;
  }
}

@media screen and (min-width: 1280px) {
  .menu {
    border-radius: 5%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 3%;
  }
  .menu section {
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 10% 90%;
        grid-template-rows: 10% 90%;
  }
  .menu section h3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  .menu section .menu__course {
    width: 90%;
    margin: 0;
  }
  .menu section .menu__course h4 {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    font-size: 1.2em;
    padding-bottom: 1%;
  }
  .menu section .menu__course:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .menu section .menu__course:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
  .menu section .menu__course:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
    margin-top: 2%;
  }
  .menu section .menu__course:last-child {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / span 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    margin-top: 0;
  }
  .menu section .menu__course p {
    font-size: 1em;
  }
  .menu section .menu__course p:nth-of-type(2) {
    font-size: 1em;
  }
  .menu section .menu__course:hover {
    -ms-grid-columns: 5% 60% 15% 2% 20%;
        grid-template-columns: 5% 60% 15% 2% 20%;
  }
  .menu button {
    width: 30%;
    border-radius: 5% / 50%;
    margin: 2% auto;
  }
}
/*# sourceMappingURL=main.css.map */